/*1 2*/
.test1 {
  width: 400px;
  height: 300px;
}

.test2{
  width: 90%;
  height: 80%;
  background-color: #c2ec49;
  background-image: url("images/sample01.jpg");
  background-position: 50px 70px;
  background-repeat: repeat;
  background-attachment: scroll;
}

.test3 {
  border: solid #9c724b;
}

.test4 {
  border-style: double;
  border-width: 10px;
  border-color: red;
}

.test5 {
  border-top: double 10px #0000ff;
}
.test6 {
  border-top-style:double;
  border-top-width: 10px;
  border-top-color: red;
}

.test7 {
  border-bottom: inset 10px #ff0000;
}

.test8 {
  border-bottom-style: solid;
  border-bottom-width: 12px;
  border-bottom-color: green;
}

.test9 {
  border-left: solid 1px red;
}
.test10 {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: blue;
}

.test11 {
  border-right: double 1px brown;
}

.test12 {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: red;
}

.test13 {
  margin: 30px;
}

.test14 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.test15 {
  padding: 10px;
}

.test16 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.test17 {
  float: right;
  float: left;
  clear: both;
  overflow: scroll;
  display: block;
}

.test18 {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  position: relative;
  z-index: 3;
  visibility: hidden;
}

.test19 {
  font: bold "游ゴシック";
}

.test20 {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック";
  line-height: 15px;
  text-align: center;
  vertical-align: top;
  text-decoration: line-through;
  text-indent: 10px;
  letter-spacing: 10px;
}

.test21 {
  word-wrap: break-word;
  word-break: normal;
}

/*64*/
.test22 {
  list-style: disc outside;
}

/*65*/
.test23 {
  list-style-image: url("images/green.jpg");
}

/*66*/
.list {
    float:left;
}

ul{
  list-style-type: none;
}

/*67~*/
table {
  border: 2px red solid;

  table-layout: fixed;
  caption-side: right;
  border-collapse: collapse;
  border-spacing: 20px 50px;
  cursor: hand;
}
