#wrap {
  width: 780px;
  margin: 0 auto;
  background-color: #4884e9;
  border: solid 1px red;
}

/*タブレット用*/
@media screen and (max-width:959px) {
  #wrap {
    width: auto;
  }
}

/*スマホ用*/
@media screen and ( max-width:599px ) {
  #wrap {
    width: auto;
  }
}

#inner {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

/*スマホ用*/
@media screen and (max-width: 599px) {
  #inner {
    flex-direction: column;
  }
}


#leftWrap {
  /*width: 500px;*/
  flex: 2;
  margin-right: 10px;
}


/*タブレット用*/
@media screen and (max-width:959px) {
  #leftWrap {
    width: auto;
  }
}

/*スマホ用*/
@media screen  and (max-width:599px) {
  #leftWrap{
    margin: 0;
  }
}

#rightWrap {
  /*width: 250px;*/
  border: solid 1px black;
  background-color: green;
}

/*タブレット用*/
@media screen and (max-width:959px) {
  #rightWrap {
    width:;
  }
}

#header {
  margin-bottom: 10px;
  background-color: #90eecb;
  border: solid 1px black;
}

#menu {
  margin-bottom: 10px;
  border: solid 1px black;
  background-color: #90eecb
}

#firstWrap {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border: solid 1px black;
  background-color: #def777;
}

/*スマホ用CSS*/
@media screen and ( max-width: 599px ) {
  #firstWrap {
    flex-direction: column;
  }
}

.box1 {
  border: solid 1px black;
  /*width: 102.5px;*/
  margin: 10px;
  background-color: green;
}

#secondWrap {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border: solid 1px black;
  background-color: #def777;
}

/*スマホ用CSS*/
@media screen and ( max-width: 599px ) {
  #secondWrap {
    flex-direction: column;
  }
}

.box2 {
  border: solid 1px black;
  /*width: 144px;*/
  margin: 10px;
  background-color: green;
}

#thirdWrap {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border: solid 1px black;
  background-color: #def777;
}

/*スマホ用CSS*/
@media screen and ( max-width: 599px ) {
  #thirdWrap {
    flex-direction: column;
  }
}

.box3 {
  border: solid 1px black;
  /*width: 227px;*/
  margin: 10px;
  background-color: green;
}

#forthWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
  border: solid 1px black;
  background-color: #def777;
}

/*スマホ用CSS*/
@media screen and ( max-width: 599px ) {
  #firstWrap {
    flex-direction: column;
  }
}

.box4 {
  border: solid 1px black;
  /*width: 61px;*/
  margin: 10px;
  background-color: green;
}

/*スマホ用*/
@media screen and ( max-width:599px ) {
  .box4 {
    width: calc(30% - 10px);
  }
}

#footer {
  border: solid 1px black;
  background-color: #90eecb;
}

/*スマホ用*/
@media screen and (max-width:599px) {
  #footer {
    margin-bottom: 10px;
  }
}
