 #wrap {
   width: 780px;
   margin: 0 auto;
   border: solid 1px black;
   background-color: #c4dbee;
 }

#inner {
  padding: 10px 0px;
  margin: 10px;
 }

#header {
  border: solid 1px black;
  background-color: green;
  margin: 10px 0px;
}

#menu {
  margin: 10px 0px;
  border: solid 1px black;
  background-color: green;
}

#largeWrap {
   width: 500px;
   float:left;
}

#sideWrap {
  width: 250px;
  margin: 10px 0px;
  float: right;
  border: solid 1px black;
  background-color: green;
}

.firstWrap {
  border: solid 1px black;
  background-color: #def777;
  margin: 10px 0px;
}

.box1 {
  border: solid 1px black;
  width: 102.5px;
  margin: 10px;
  float: left;
  background-color: green;
}

.secondWrap {
  border: solid 1px black;
  background-color: #def777;
  margin: 10px 0;
}

.box2 {
  border: solid 1px black;
  width: 144px;
  margin: 10px;
  float: left;
  background-color: green;
}

.thirdWrap {
  border: solid 1px black;
  background-color: #def777;
  margin: 10px 0;
}

.box3 {
  border: solid 1px black;
  width: 227px;
  margin: 10px;
  float: left;
  background-color: green;
}

.forthWrap {
  border: solid 1px black;
  background-color: #def777;
  margin: 10px 0;
}

.box4 {
  border: solid 1px black;
  width: 61px;
  margin: 10px;
  float: left;
  background-color: green;
}

#footer {
  border: solid 1px black;
  margin: 10px 0px;
  background-color: green;
}

.clear {
  clear: both;
}
.clear hr {
  display: none;
}
