body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  line-height: 1.5;
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  body {
    font-size: 13px;
  }
}

#wrap {
  width: 780px;
  margin: 0 auto;
  border: solid 1px black;
  background-color: #c4dbee;
}

/*タブレット用のCSS*/
@media screen and ( max-width:959px ) {
  #wrap {
    width: 600px;
  }
}


/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  #wrap {
    width: auto;
    padding: 0 10px;
    /*overflow: hidden;*/
  }
}



#inner {
 padding: 10px 0px;
 margin: 10px;
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  #inner {
    overflow: hidden;
  }
}

#header {
  border: solid 1px black;
 background-color: green;
 margin: 10px 0px;
}

#menu {
  border: solid 1px black;
 margin: 10px 0px;
 background-color: green;
}

#largeWrap {
  width: 500px;
  float:left;
}

/*タブレット用*/
@media screen and ( max-width:959px ) {
  #largeWrap {
    width: 380px;
  }
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  #largeWrap {
    width: auto;
    float: none;

  }
}




#sideWrap {
  border: solid 1px black;
 width: 250px;
 float: right;
 background-color: green;
}

/*タブレット用*/
@media screen and ( max-width:959px ) {
  #sideWrap {
    width: 190px;
  }
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  #sideWrap {
    width: auto;
    float: none;
  }
}


.firstWrap {
  border: solid 1px black;
 background-color: green;
 margin: 0 0 10px 0;
}

.box1 {
  border: solid 1px black;
 width: 102.5px;
 margin: 10px;
 float: left;
 background-color: white;
}

/*タブレット用*/
@media screen and ( max-width:959px ) {
  .box1 {
    width: 99.5px;
    margin: 10px 43.7px;
    float: left;
  }
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  .box1 {
    width: auto;
    margin: 10px;
    float: none;
  }
}

.secondWrap {
  border: solid 1px black;
 background-color: green;
 margin: 10px 0;
}

.box2 {
  border: solid 1px black;
 width: 144px;
 margin: 10px;
 float: left;
 background-color: white;
}

/*タブレット用*/
@media screen and ( max-width:959px ) {
  .box2 {
    width: 144px;
    margin: 10px 118px;
    float: left;
  }
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  .box2 {
    width: auto;
    margin: 10px;
    float: none;
  }
}

.thirdWrap {
  border: solid 1px black;
 background-color: green;
 margin: 10px 0;
}

.box3 {
  border: solid 1px black;
 width: 227px;
 margin: 10px;
 float: left;
 background-color: white;
}

/*タブレット用*/
@media screen and ( max-width:959px ) {
  .box3 {
    width: 227px;
    margin: 10px 76.5px;
    float: left;
  }
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  .box3 {
    width: auto;
    margin: 10px;
    float: none;
  }
}

.forthWrap {
  border: solid 1px black;
 background-color: green;
 margin: 10px 0;
}

.box4 {
  border: solid 1px black;
 width: 61px;
 margin: 10px;
 float: left;
 background-color: white;
}

/*タブレット用*/
@media screen and ( max-width:959px ) {
  .box4 {
    width: 58.4px;
    margin: 10px 32.8px;
    float: left;
  }
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  .box4 {
    width: auto;
    margin: 10px;
    float: none;
  }
}

.box5 {
  border: solid 1px black;
  width: 230px;
  margin: 10px;
  background-color: white;
}

/*タブレット用*/
@media screen and ( max-width:959px ) {
  .box5 {
    width: auto;
  }
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  .box5 {
    width: auto;
    margin: 10px;
    float: none;
  }
}



.box6 {
  border: solid 1px black;
  width: 102px;
  margin: 10px;
  float:left;
  background-color: white;
}

/*タブレット用*/
@media screen and ( max-width:959px ) {
  .box6 {
    width: 102px;
    margin: 10px 44px;
    float: left;
  }
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  .box6 {
    width: auto;
    margin: 10px;
    float: none;
  }
}

.box7 {
  border: solid 1px black;
  width: 60.6px;
  margin: 10px;
  float: left;
  background-color: white;
}

/*タブレット用*/
@media screen and ( max-width:959px ) {
  .box7 {
    width: 57px;
    margin: 10px 17.2px;
  }
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  .box7 {
    width: auto;
    margin: 10px;
    float: none;
  }
}

.box8 {
  border: solid 1px black;
  width: 230px;
  margin: 10px;
  background-color: white;
}

/*スマホ用のCSS*/
@media screen and ( max-width:599px ) {
  .box8 {
    width: auto;
    margin: 10px;
    float: none;
  }
}

/*タブレット用*/
@media screen and ( max-width:959px ) {
  .box8 {
    width: auto;
  }
}

#footer {
  border: solid 1px black;
 margin: 10px 0px;
 background-color: green;
}

.clear {
 clear: both;
}
.clear hr {
 display: none;
}
